













/* general styling */
:root {
    --smaller: .75;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    align-items: center;
    background: rgb(241,217,183);
    background: -moz-linear-gradient(344deg, rgba(241,217,183,1) 0%, rgba(235,135,202,1) 42%, rgba(132,239,219,1) 100%);
    background: -webkit-linear-gradient(344deg, rgba(241,217,183,1) 0%, rgba(235,135,202,1) 42%, rgba(132,239,219,1) 100%);
    background: linear-gradient(344deg, rgba(241,217,183,1) 0%, rgba(235,135,202,1) 42%, rgba(132,239,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1d9b7",endColorstr="#84efdb",GradientType=1);
    display: flex;
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
  }

  .main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-weight: 200;
    letter-spacing: .25rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }